<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row" ng-repeat="thisResult in result.results" style="margin-top: 15px;">
                <div class="col-sm-12" ng-click="searchResultRowClicked(thisResult)" style="cursor: pointer;">
                                  
                    <div ng-if="thisResult.media_type === 'movie'">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <i class="glyphicon glyphicon-facetime-video"></i>
                                    </div>
                                    <div class="col-sm-6">
                                        <strong>Title:</strong> {{thisResult.original_name}}{{thisResult.original_title}} ({{thisResult.release_date}})
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                               <img ng-src="{{API_BASE_IMAGE}}{{API_IMG_SIZE}}{{thisResult.poster_path}}" class="img-responsive" style="max-height: 175px;">
                            </div>
                        </div>
                    </div>
                    
                    <div ng-if="thisResult.media_type === 'tv'">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <i class="glyphicon glyphicon-film"></i>
                                    </div>
                                    <div class="col-sm-6">
                                        <strong>Title:</strong> {{thisResult.original_name}}
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                               <img ng-src="{{API_BASE_IMAGE}}{{API_IMG_SIZE}}{{thisResult.poster_path}}" class="img-responsive" style="max-height: 175px;">
                            </div>
                        </div>
                    </div>
                       
                    <div ng-if="thisResult.media_type === 'person'">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </div>
                                    <div class="col-sm-6">
                                        <strong>Name:</strong> {{thisResult.name}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <img ng-src="{{API_BASE_IMAGE}}{{API_IMG_SIZE}}{{thisResult.profile_path}}" class="img-responsive" style="max-height: 175px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>