<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row" ng-repeat="thisResult in result.results" style="margin-top: 15px;">
                <div class="col-sm-12" ng-click="searchResultRowClicked(thisResult)" style="cursor: pointer;">
                                  
                    <div ng-if="thisResult.media_type === 'movie'">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <i class="glyphicon glyphicon-facetime-video"></i>
                                    </div>
                                    <div class="col-sm-6">
                                        <strong>Title:</strong> {{thisResult.original_name}}{{thisResult.original_title}} ({{thisResult.release_date}})
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                               <img ng-src="{{API_BASE_IMAGE}}{{API_IMG_SIZE}}{{thisResult.poster_path}}" class="img-responsive" style="max-height: 175px;">
                            </div>
                        </div>
                    </div>
                        
                        
<!--                        $$hashKey: "object:5"adult: falsebackdrop_path: "/eCgQhmWocaA45LeS1NztXGfWZoi.jpg"genre_ids: Array[3]id: 102899media_type: "movie"original_language: "en"original_title: "Ant-Man"overview: "Armed with the astonishing ability to shrink in scale but increase in strength, con-man Scott Lang must embrace his inner-hero and help his mentor, Dr. Hank Pym, protect the secret behind his spectacular Ant-Man suit from a new generation of towering threats. Against seemingly insurmountable obstacles, Pym and Lang must plan and pull off a heist that will save the world."popularity: 3.996601poster_path: "/D6e8RJf2qUstnfkTslTXNTUAlT.jpg"release_date: "2015-07-17"title: "Ant-Man"video: falsevote_average: 6.4vote_count: 18-->
                        
                        
                    
                    <div ng-if="thisResult.media_type === 'tv'">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <i class="glyphicon glyphicon-film"></i>
                                    </div>
                                    <div class="col-sm-6">
                                        <strong>Title:</strong> {{thisResult.original_name}}
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                               <img ng-src="{{API_BASE_IMAGE}}{{API_IMG_SIZE}}{{thisResult.poster_path}}" class="img-responsive" style="max-height: 175px;">
                            </div>
                        </div>
                    </div>
                    
                    
<!--                    $$hashKey: "object:19"backdrop_path: "/k9YyjHQFHETxcPjyT4nCJrDro3P.jpg"first_air_date: "1966-01-12"genre_ids: Array[3]id: 2287media_type: "tv"name: "Batman"origin_country: Array[1]original_language: "en"original_name: "Batman"overview: "Batman is a 1960s American live action television series, based on the DC comic book character of the same name. It stars Adam West as Batman and Burt Ward as Robin — two crime-fighting heroes who defend Gotham City. It aired on ABC for three seasons from January 12, 1966 to March 14, 1968. The show was aired twice weekly for its first two seasons, resulting in the production of a total of 120 episodes."popularity: 2.730473poster_path: "/3UWelGlodkRQeyheMrw6P52TC2A.jpg"vote_average: 8.2vote_count: 5-->
                    
                    <div ng-if="thisResult.media_type === 'person'">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </div>
                                    <div class="col-sm-6">
                                        <strong>Name:</strong> {{thisResult.name}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <img ng-src="{{API_BASE_IMAGE}}{{API_IMG_SIZE}}{{thisResult.profile_path}}" class="img-responsive" style="max-height: 175px;">
                            </div>
                        </div>
                    </div>
                    
<!--                    $$hashKey: "object:5"adult: falseid: 85known_for: Array[3]media_type: "person"name: "Johnny Depp"popularity: 15.674952profile_path: "/ctaca3ALycPP0vPhRSYK5DTBEPF.jpg"-->
                </div>
            </div>
        </div>
    </div>
</div>