
<div class="container" style="margin-top: 15px">
   
    <div class="row">
        <div class="col-sm-12 text-center" style="margin-bottom: 35px;">
            Made by Jerry Pistorius for a school project with Coding Campus. Please visit them at: <a href="codingcamp.us">Coding Campus</a>. Very special thanks to Mark Price, Erik Slack, and Robert Williams. The teachings that you provided are amazing, and I am very greatful. 
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-sm-12 text-center">
            This product uses the TMDb API but is not endorsed or certified by TMDb. Please visit them at: <a href="www.themoviedb.org">The Movie DB</a>
        </div>
    </div>
</div>