<div class="container" style="margin-top: 15px">
    <div class="row">
        <div class="col-sm-11">
            <input type="text" class="form-control" placeholder="Search Movie/Actor/TV Show">
        </div>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8" style="margin-top: 5px">
            Title: {{movie.theMovieDb.movies.original_title}}
           
        </div>
        <div class="col-sm-4">
            <img src="{{movie.poster_path}}" class="img-responsive" style="height: 450px" />
        </div>
    </div>
</div>